.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	width: 1920px;
	height: 9332px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
#Rectangle_34 {
	opacity: 0.31;
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 1572px;
	height: 728px;
	left: 194px;
	top: 5493px;
}
#Rectangle_21 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 1628px;
	height: 803px;
	left: 160px;
	top: 3265px;
}
#Rectangle_18 {
	opacity: 0.3;
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 4313px;
	left: 0px;
	top: 0px;
}
#Rectangle_11 {
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1646px;
	height: 757px;
	left: 160px;
	top: 1389px;
}
#ID919126d62c44e16e941e5b42f5ff {
	opacity: 0.89;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 1633px;
	height: 857px;
	left: 143px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 73px;
	left: 254px;
	top: 65px;
}
#Rectangle_2 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 73px;
	left: 461px;
	top: 65px;
}
#Rectangle_3 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 73px;
	left: 668px;
	top: 65px;
}
#Rectangle_4 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 73px;
	left: 1092px;
	top: 65px;
}
#Rectangle_5 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 73px;
	left: 1299px;
	top: 65px;
}
#Rectangle_6 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 73px;
	left: 1506px;
	top: 65px;
}
#HOME {
	left: 295px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#Gallery {
	left: 499px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#About_Us {
	left: 696px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#Pets_FAQs {
	left: 1112px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#Stories {
	left: 1333px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#Contact_Us {
	left: 1518px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#Welcome_to_BunnyHugs_Nature_Ch {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 272px;
	top: 217px;
	position: absolute;
	overflow: visible;
	width: 1193px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#d2c66479e1d535ef43611b2d31ed3a {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 364.29px;
	height: 656.062px;
	left: 1429.71px;
	top: 300.85px;
	overflow: visible;
}
#Rectangle_7 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 483;
	height: 310;
	left: 220px;
	top: 911px;
	overflow: visible;
}
#Sharing_is_caring____unless_it {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 892px;
	top: 884px;
	position: absolute;
	overflow: visible;
	width: 881px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#carrots {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 67px;
	height: 67px;
	left: 1514px;
	top: 1061px;
	overflow: visible;
}
#rabbit {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 58px;
	height: 58px;
	left: 1579px;
	top: 1067px;
	overflow: visible;
}
#kale {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1643px;
	top: 1068px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 438px;
	height: 610px;
	left: 188px;
	top: 1300px;
}
#Rectangle_9 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 438px;
	height: 610px;
	left: 754px;
	top: 1300px;
}
#Rectangle_10 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 438px;
	height: 610px;
	left: 1320px;
	top: 1300px;
}
#Rectangle_12 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 233px;
	left: 228px;
	top: 1359px;
}
#Rectangle_13 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 233px;
	left: 799px;
	top: 1359px;
}
#Rectangle_14 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 233px;
	left: 1364px;
	top: 1359px;
}
#Rectangle_15 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_15 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 202px;
	height: 67px;
	left: 882px;
	top: 1849px;
}
#Learn_Everything_there_is_abou {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 779px;
	top: 1627px;
	position: absolute;
	overflow: visible;
	width: 392px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Join_our_ever_growing_Communit {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1341px;
	top: 1627px;
	position: absolute;
	overflow: visible;
	width: 353px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Rectangle_16 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_16 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 202px;
	height: 67px;
	left: 1455px;
	top: 1849px;
}
#Rectangle_17 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 438;
	height: 416;
	left: 295px;
	top: 1936px;
	overflow: visible;
}
#Eh_whats_up_doc_Sharings___gre {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 754px;
	top: 1985px;
	position: absolute;
	overflow: visible;
	width: 983px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#Get_to_live_with_a_bunny_and_e {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 220px;
	top: 1633px;
	position: absolute;
	overflow: visible;
	width: 364px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Rectangle_19 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 202px;
	height: 67px;
	left: 316px;
	top: 1849px;
}
#carrots_bi {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 67px;
	height: 67px;
	left: 1489px;
	top: 2172px;
	overflow: visible;
}
#laughing-out-loud {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1569px;
	top: 2180px;
	overflow: visible;
}
#Capture-removebg-preview {
	position: absolute;
	width: 282px;
	height: 241px;
	left: 727px;
	top: 1088px;
	overflow: visible;
}
#Rectangle_20 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 1103;
	height: 622;
	left: 422px;
	top: 2390px;
	overflow: visible;
}
#ID360_F_633363085_WsxRY2HQiGTe {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 1594px;
	height: 556px;
	left: 194px;
	top: 3033px;
	overflow: visible;
}
#Get_a_Bunny_for_your_Party_Wit {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 237px;
	top: 3568px;
	position: absolute;
	overflow: visible;
	width: 873px;
	white-space: nowrap;
	text-align: center;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#Path_1 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 242px;
	height: 66.5px;
	left: 1252px;
	top: 3666.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Reach_Out {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1283px;
	top: 3677px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Rectangle_22 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 705px;
	height: 831px;
	left: 991px;
	top: 4140px;
}
#Contact_Us_br {
	left: 1150px;
	top: 4140px;
	position: absolute;
	overflow: visible;
	width: 345px;
	white-space: nowrap;
	text-align: center;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(246,59,59,1);
	letter-spacing: 0.7px;
}
#Rectangle_23 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 49px;
	left: 1031px;
	top: 4313px;
}
#Rectangle_24 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 49px;
	left: 1369px;
	top: 4313px;
}
#Rectangle_25 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 488px;
	height: 47px;
	left: 1029px;
	top: 4423px;
}
#Rectangle_26 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 49px;
	left: 1031px;
	top: 4531px;
}
#Rectangle_27 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 498px;
	height: 224px;
	left: 1031px;
	top: 4641px;
}
#Rectangle_28 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_28 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 202px;
	height: 67px;
	left: 1474px;
	top: 4880px;
}
#FirstName {
	left: 1031px;
	top: 4271px;
	position: absolute;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: center;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#SecondName {
	left: 1380px;
	top: 4271px;
	position: absolute;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: center;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Email {
	left: 1039px;
	top: 4381px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Phone_Number {
	left: 1039px;
	top: 4489px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	text-align: center;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Message {
	left: 1031px;
	top: 4599px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#pngwingcom {
	position: absolute;
	width: 416px;
	height: 416px;
	left: 575px;
	top: 4620px;
	overflow: visible;
}
#Promoting_Inclusion_Compassion {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 194px;
	top: 4343px;
	position: absolute;
	overflow: visible;
	width: 621px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#pngwingcom_1 {
	position: absolute;
	width: 736px;
	height: 736px;
	left: 238px;
	top: 3516px;
	overflow: visible;
}
#Path_2 {
	fill: rgba(246,59,59,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 273.68px;
	height: 70.506px;
	left: 761px;
	top: 5036px;
	transform: matrix(1,0,0,1,0,0);
}
#Join_Channel {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 798px;
	top: 5050px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Group_1 {
	position: absolute;
	width: 122px;
	height: 121px;
	left: 906px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 122px;
	height: 118px;
	left: 0px;
	top: 1px;
}
#WhatsApp_Image_2025-03-10_at_6 {
	position: absolute;
	width: 121px;
	height: 121px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Fun_Science {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 257px;
	top: 5124px;
	position: absolute;
	overflow: visible;
	width: 361px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Rectangle_29 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 378;
	height: 219;
	left: 197px;
	top: 5242px;
	overflow: visible;
}
#Rectangle_30 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 378;
	height: 219;
	left: 594px;
	top: 5241px;
	overflow: visible;
}
#Rectangle_31 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 378;
	height: 219;
	left: 991px;
	top: 5242px;
	overflow: visible;
}
#Rectangle_32 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 378;
	height: 219;
	left: 1388px;
	top: 5242px;
	overflow: visible;
}
#Rectangle_33 {
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 746px;
	height: 728px;
	left: 194px;
	top: 5493px;
}
#istockphoto-1370481102-612x612 {
	position: absolute;
	width: 154px;
	height: 97px;
	left: 317px;
	top: 5571px;
	overflow: visible;
}
#istockphoto-1366577869-612x612 {
	position: absolute;
	width: 185px;
	height: 96px;
	left: 474px;
	top: 5572px;
	overflow: visible;
}
#istockphoto-1787694963-612x612 {
	position: absolute;
	width: 158px;
	height: 105px;
	left: 295px;
	top: 5668px;
	overflow: visible;
}
#istockphoto-1972137563-612x612 {
	position: absolute;
	width: 161px;
	height: 97px;
	left: 662px;
	top: 5571px;
	overflow: visible;
}
#istockphoto-2200234973-612x612 {
	position: absolute;
	width: 157px;
	height: 105px;
	left: 453px;
	top: 5668px;
	overflow: visible;
}
#istockphoto-1468457414-612x612 {
	position: absolute;
	width: 161px;
	height: 107px;
	left: 610px;
	top: 5666px;
	overflow: visible;
}
#istockphoto-907234998-612x612 {
	position: absolute;
	width: 138px;
	height: 207px;
	left: 474px;
	top: 5773px;
	overflow: visible;
}
#istockphoto-1465518830-612x612 {
	position: absolute;
	width: 189px;
	height: 126px;
	left: 610px;
	top: 5773px;
	overflow: visible;
}
#istockphoto-1424009859-612x612 {
	position: absolute;
	width: 163px;
	height: 108px;
	left: 308px;
	top: 5773px;
	overflow: visible;
}
#istockphoto-1532294939-612x612 {
	position: absolute;
	width: 117px;
	height: 78px;
	left: 357px;
	top: 5881px;
	overflow: visible;
}
#istockphoto-1365550661-612x612 {
	position: absolute;
	width: 163px;
	height: 108px;
	left: 609px;
	top: 5882px;
	overflow: visible;
}
#istockphoto-853963832-612x612 {
	position: absolute;
	width: 136px;
	height: 91px;
	left: 474px;
	top: 5980px;
	overflow: visible;
}
#istockphoto-2175810365-612x612 {
	position: absolute;
	width: 190px;
	height: 126px;
	left: 610px;
	top: 5988px;
	overflow: visible;
}
#istockphoto-2163824213-612x612 {
	position: absolute;
	width: 176px;
	height: 117px;
	left: 295px;
	top: 5961px;
	overflow: visible;
}
#At_Bunnyhugs_Nature_Channel_we {
	left: 973px;
	top: 5556px;
	position: absolute;
	overflow: visible;
	width: 752px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#Group_2 {
	opacity: 0.21;
	position: absolute;
	width: 504px;
	height: 503px;
	left: 290px;
	top: 5585px;
	overflow: visible;
}
#Ellipse_1_cx {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_cx {
	position: absolute;
	overflow: visible;
	width: 504px;
	height: 502px;
	left: 0px;
	top: 1px;
}
#WhatsApp_Image_2025-03-10_at_6_cy {
	position: absolute;
	width: 503px;
	height: 503px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#istockphoto-474688267-612x612- {
	position: absolute;
	width: 599px;
	height: 377px;
	left: 1084px;
	top: 5857px;
	overflow: visible;
}
#_Where_we_use_the_love_of_anim {
	left: 272px;
	top: 320px;
	position: absolute;
	overflow: visible;
	width: 404px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.7px;
}
#Pets_FAQs_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 257px;
	top: 6267px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Group_3 {
	position: absolute;
	width: 1158px;
	height: 493px;
	left: 237px;
	top: 6398px;
	overflow: visible;
}
#Rectangle_35 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35 {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Polygon_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_1 {
	overflow: visible;
	position: absolute;
	width: 18.408px;
	height: 10px;
	transform: translate(-237px, -6398px) matrix(1,0,0,1,1353.6592,6437.701) rotate(181deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Rectangle_36 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36 {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 427px;
	left: 0px;
	top: 66px;
}
#ID1_How_do_I_get_a_pet_bunny_ {
	left: 19px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 250px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Group_4 {
	position: absolute;
	width: 1158px;
	height: 493px;
	left: 237px;
	top: 6924px;
	overflow: visible;
}
#Rectangle_35_c {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35_c {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Polygon_1_c {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_1_c {
	overflow: visible;
	position: absolute;
	width: 18.41px;
	height: 10px;
	transform: translate(-237px, -6398px) matrix(1,0,0,1,1353.6568,6437.701) rotate(181deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Rectangle_36_da {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36_da {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 427px;
	left: 0px;
	top: 66px;
}
#ID2_What_to_look_out_for_once_ {
	left: 23px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 445px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Group_5 {
	position: absolute;
	width: 1158px;
	height: 493px;
	left: 237px;
	top: 7463px;
	overflow: visible;
}
#Rectangle_35_dd {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35_dd {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Polygon_1_de {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_1_de {
	overflow: visible;
	position: absolute;
	width: 18.41px;
	height: 10px;
	transform: translate(-237px, -6398px) matrix(1,0,0,1,1353.6568,6437.701) rotate(181deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Rectangle_36_df {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36_df {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 427px;
	left: 0px;
	top: 66px;
}
#ID3_Who_to_contact_incase_of_a {
	left: 26px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 365px;
	white-space: nowrap;
	text-align: left;
	font-family: Knicknack;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.7px;
}
#Group_6 {
	position: absolute;
	width: 1158px;
	height: 493px;
	left: 237px;
	top: 8002px;
	overflow: visible;
}
#Rectangle_35_di {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35_di {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Polygon_1_dj {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_1_dj {
	overflow: visible;
	position: absolute;
	width: 18.41px;
	height: 10px;
	transform: translate(-237px, -6398px) matrix(1,0,0,1,1353.6568,6437.701) rotate(181deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Rectangle_36_dk {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36_dk {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 427px;
	left: 0px;
	top: 66px;
}
#Group_7 {
	position: absolute;
	width: 1158px;
	height: 493px;
	left: 237px;
	top: 8541px;
	overflow: visible;
}
#Rectangle_35_dm {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35_dm {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Polygon_1_dn {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_1_dn {
	overflow: visible;
	position: absolute;
	width: 18.41px;
	height: 10px;
	transform: translate(-237px, -6398px) matrix(1,0,0,1,1353.6568,6437.701) rotate(181deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Rectangle_36_do {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36_do {
	position: absolute;
	overflow: visible;
	width: 1158px;
	height: 427px;
	left: 0px;
	top: 66px;
}